https://www.youtube.com/watch?v=WFVZLRzG9Fw&list=PLYGvOQTnahYK1o6XyY0aaPLQxd68_tX86&index=124&t=0s

- ARIMA will take in a single country
- One column of values in order
- order from latest to most recent
- .shift(), then concatenate with original

In [33]:
import pandas as pd

In [34]:
abatement = pd.read_csv('./Data/abatement_calculations.csv')

In [35]:
world = abatement[abatement['country']=='World'].T

In [36]:
world.drop('country', inplace=True)

In [38]:
world.columns = ['target']

## STUFF FOR BAYES

In [47]:
for i in range(1, 16):
    world[f'lag{i}'] = world['target'].shift(--i)

In [48]:
world

,target,lag1,lag2,lag3,lag4,lag5,lag6,lag7,lag8,lag9,lag10,lag11,lag12,lag13,lag14,lag15
1990,2163.09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1991,2181.54,2163.09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1992,2225.08,2181.54,2163.09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1993,2320.25,2225.08,2181.54,2163.09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1994,2316.96,2320.25,2225.08,2181.54,2163.09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1995,2397.86,2316.96,2320.25,2225.08,2181.54,2163.09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1996,2446.34,2397.86,2316.96,2320.25,2225.08,2181.54,2163.09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1997,2465.15,2446.34,2397.86,2316.96,2320.25,2225.08,2181.54,2163.09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1998,2461.86,2465.15,2446.34,2397.86,2316.96,2320.25,2225.08,2181.54,2163.09,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1999,2419.71,2461.86,2465.15,2446.34,2397.86,2316.96,2320.25,2225.08,2181.54,2163.09,NaN,NaN,NaN,NaN,NaN,NaN
2000,2469.7,2419.71,2461.86,2465.15,2446.34,2397.86,2316.96,2320.25,2225.08,2181.54,2163.09,NaN,NaN,NaN,NaN,NaN
2001,2437.82,2469.7,2419.71,2461.86,2465.15,2446.34,2397.86,2316.96,2320.25,2225.08,2181.54,2163.09,NaN,NaN,NaN,NaN
2002,2500.86,2437.82,2469.7,2419.71,2461.86,2465.15,2446.34,2397.86,2316.96,2320.25,2225.08,2181.54,2163.09,NaN,NaN,NaN
2003,2578.75,2500.86,2437.82,2469.7,2419.71,2461.86,2465.15,2446.34,2397.86,2316.96,2320.25,2225.08,2181.54,2163.09,NaN,NaN
2004,2726.32,2578.75,2500.86,2437.82,2469.7,2419.71,2461.86,2465.15,2446.34,2397.86,2316.96,2320.25,2225.08,2181.54,2163.09,NaN
2005,2869.21,2726.32,2578.75,2500.86,2437.82,2469.7,2419.71,2461.86,2465.15,2446.34,2397.86,2316.96,2320.25,2225.08,2181.54,2163.09
2006,3014.19,2869.21,2726.32,2578.75,2500.86,2437.82,2469.7,2419.71,2461.86,2465.15,2446.34,2397.86,2316.96,2320.25,2225.08,2181.54
2007,3077.79,3014.19,2869.21,2726.32,2578.75,2500.86,2437.82,2469.7,2419.71,2461.86,2465.15,2446.34,2397.86,2316.96,2320.25,2225.08
2008,3211.59,3077.79,3014.19,2869.21,2726.32,2578.75,2500.86,2437.82,2469.7,2419.71,2461.86,2465.15,2446.34,2397.86,2316.96,2320.25
2009,3323.8,3211.59,3077.79,3014.19,2869.21,2726.32,2578.75,2500.86,2437.82,2469.7,2419.71,2461.86,2465.15,2446.34,2397.86,2316.96
2010,3598.04,3323.8,3211.59,3077.79,3014.19,2869.21,2726.32,2578.75,2500.86,2437.82,2469.7,2419.71,2461.86,2465.15,2446.34,2397.86
2011,3815.25,3598.04,3323.8,3211.59,3077.79,3014.19,2869.21,2726.32,2578.75,2500.86,2437.82,2469.7,2419.71,2461.86,2465.15,2446.34
2012,4126.38,3815.25,3598.04,3323.8,3211.59,3077.79,3014.19,2869.21,2726.32,2578.75,2500.86,2437.82,2469.7,2419.71,2461.86,2465.15
2013,4369.77,4126.38,3815.25,3598.04,3323.8,3211.59,3077.79,3014.19,2869.21,2726.32,2578.75,2500.86,2437.82,2469.7,2419.71,2461.86
2014,4539.39,4369.77,4126.38,3815.25,3598.04,3323.8,3211.59,3077.79,3014.19,2869.21,2726.32,2578.75,2500.86,2437.82,2469.7,2419.71
label,NaN,4539.39,4369.77,4126.38,3815.25,3598.04,3323.8,3211.59,3077.79,3014.19,2869.21,2726.32,2578.75,2500.86,2437.82,2469.7

In [42]:
world_thing = world.loc['2004':]

In [43]:
train = world_thing[0:5]

In [44]:
val = world_thing[5:-1]

In [45]:
test = world_thing[-1:]

In [46]:
train

,target,lag1,lag2,lag3,lag4,lag5,lag6,lag7,lag8,lag9,lag10,lag11,lag12,lag13,lag14,lag15
2004,2726.32,2869.21,3014.19,3077.79,3211.59,3323.8,3598.04,3815.25,4126.38,4369.77,4539.39,NaN,NaN,NaN,NaN,NaN
2005,2869.21,3014.19,3077.79,3211.59,3323.8,3598.04,3815.25,4126.38,4369.77,4539.39,NaN,NaN,NaN,NaN,NaN,NaN
2006,3014.19,3077.79,3211.59,3323.8,3598.04,3815.25,4126.38,4369.77,4539.39,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007,3077.79,3211.59,3323.8,3598.04,3815.25,4126.38,4369.77,4539.39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2008,3211.59,3323.8,3598.04,3815.25,4126.38,4369.77,4539.39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [55]:
val
#because this is being used to tune parameters the test set will be the ultimate test of model performance

,target,lag,lag2,lag1,lag3,lag4,lag5,lag6,lag7,lag8,lag9,lag10,lag11,lag12,lag13,lag14,lag15
2009,3323.8,3211.59,3077.79,3211.59,3014.19,2869.21,2726.32,2578.75,2500.86,2437.82,2469.7,2419.71,2461.86,2465.15,2446.34,2397.86,2316.96
2010,3598.04,3323.8,3211.59,3323.8,3077.79,3014.19,2869.21,2726.32,2578.75,2500.86,2437.82,2469.7,2419.71,2461.86,2465.15,2446.34,2397.86
2011,3815.25,3598.04,3323.8,3598.04,3211.59,3077.79,3014.19,2869.21,2726.32,2578.75,2500.86,2437.82,2469.7,2419.71,2461.86,2465.15,2446.34
2012,4126.38,3815.25,3598.04,3815.25,3323.8,3211.59,3077.79,3014.19,2869.21,2726.32,2578.75,2500.86,2437.82,2469.7,2419.71,2461.86,2465.15
2013,4369.77,4126.38,3815.25,4126.38,3598.04,3323.8,3211.59,3077.79,3014.19,2869.21,2726.32,2578.75,2500.86,2437.82,2469.7,2419.71,2461.86

In [59]:
test

,target,lag,lag2,lag1,lag3,lag4,lag5,lag6,lag7,lag8,lag9,lag10,lag11,lag12,lag13,lag14,lag15
2014,4539.39,4369.77,4126.38,4369.77,3815.25,3598.04,3323.8,3211.59,3077.79,3014.19,2869.21,2726.32,2578.75,2500.86,2437.82,2469.7,2419.71

In [60]:
#put this stuff in bayes
#in bayes fit the model on train
#

In [ ]:
#try an arma model (order = 15,0)

In [31]:
world.dtypes

37     object
lag    object
dtype: object

In [33]:
world;
#37 is predictions
# lag is our features

In [ ]:
#convert type to number