https://www.youtube.com/watch?v=WFVZLRzG9Fw&list=PLYGvOQTnahYK1o6XyY0aaPLQxd68_tX86&index=124&t=0s

- ARIMA will take in a single country
- One column of values in order
- order from latest to most recent
- .shift(), then concatenate with original

In [1]:
import pandas as pd

In [3]:
abatement = pd.read_csv('./Data/abatement_calculations.csv')

In [7]:
abatement.drop('Unnamed: 0', axis=1, inplace=True)

In [25]:
world = abatement[abatement['country']=='World'].drop('country', axis=1, inplace=True)

/Users/sonyahseiden/anaconda3/lib/python3.6/site-packages/pandas/core/frame.py:3694: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [26]:
world = abatement[abatement['country']=='World'].T

In [29]:
world['lag'] = world.shift(1)

In [35]:
world.columns=['target','lag']

In [38]:
world['lag2'] = world['target'].shift(2)

## STUFF FOR BAYES

In [40]:
for i in range(1, 16):
    world[f'lag{i}'] = world['target'].shift(-i)

In [44]:
world_thing = world.loc['2004':]

In [46]:
train = world_thing[0:5]

In [53]:
val = world_thing[5:-1]

In [57]:
test = world_thing[-1:]

In [54]:
train

,target,lag,lag2,lag1,lag3,lag4,lag5,lag6,lag7,lag8,lag9,lag10,lag11,lag12,lag13,lag14,lag15
2004,2726.32,2578.75,2500.86,2578.75,2437.82,2469.7,2419.71,2461.86,2465.15,2446.34,2397.86,2316.96,2320.25,2225.08,2181.54,2163.09,World
2005,2869.21,2726.32,2578.75,2726.32,2500.86,2437.82,2469.7,2419.71,2461.86,2465.15,2446.34,2397.86,2316.96,2320.25,2225.08,2181.54,2163.09
2006,3014.19,2869.21,2726.32,2869.21,2578.75,2500.86,2437.82,2469.7,2419.71,2461.86,2465.15,2446.34,2397.86,2316.96,2320.25,2225.08,2181.54
2007,3077.79,3014.19,2869.21,3014.19,2726.32,2578.75,2500.86,2437.82,2469.7,2419.71,2461.86,2465.15,2446.34,2397.86,2316.96,2320.25,2225.08
2008,3211.59,3077.79,3014.19,3077.79,2869.21,2726.32,2578.75,2500.86,2437.82,2469.7,2419.71,2461.86,2465.15,2446.34,2397.86,2316.96,2320.25

In [55]:
val
#because this is being used to tune parameters the test set will be the ultimate test of model performance

,target,lag,lag2,lag1,lag3,lag4,lag5,lag6,lag7,lag8,lag9,lag10,lag11,lag12,lag13,lag14,lag15
2009,3323.8,3211.59,3077.79,3211.59,3014.19,2869.21,2726.32,2578.75,2500.86,2437.82,2469.7,2419.71,2461.86,2465.15,2446.34,2397.86,2316.96
2010,3598.04,3323.8,3211.59,3323.8,3077.79,3014.19,2869.21,2726.32,2578.75,2500.86,2437.82,2469.7,2419.71,2461.86,2465.15,2446.34,2397.86
2011,3815.25,3598.04,3323.8,3598.04,3211.59,3077.79,3014.19,2869.21,2726.32,2578.75,2500.86,2437.82,2469.7,2419.71,2461.86,2465.15,2446.34
2012,4126.38,3815.25,3598.04,3815.25,3323.8,3211.59,3077.79,3014.19,2869.21,2726.32,2578.75,2500.86,2437.82,2469.7,2419.71,2461.86,2465.15
2013,4369.77,4126.38,3815.25,4126.38,3598.04,3323.8,3211.59,3077.79,3014.19,2869.21,2726.32,2578.75,2500.86,2437.82,2469.7,2419.71,2461.86

In [59]:
test

,target,lag,lag2,lag1,lag3,lag4,lag5,lag6,lag7,lag8,lag9,lag10,lag11,lag12,lag13,lag14,lag15
2014,4539.39,4369.77,4126.38,4369.77,3815.25,3598.04,3323.8,3211.59,3077.79,3014.19,2869.21,2726.32,2578.75,2500.86,2437.82,2469.7,2419.71

In [60]:
#put this stuff in bayes
#in bayes fit the model on train
#

In [ ]:
#try an arma model (order = 15,0)

In [31]:
world.dtypes

37     object
lag    object
dtype: object

In [33]:
world;
#37 is predictions
# lag is our features

In [ ]:
#convert type to number